<template>
    <div class="card" v-bind:class="{ 'card--horizontal': state.horizontalImg }">
        <img 
          class="card__image"
          v-if="state.horizontalImg" 
          v-bind:srcset="state.horizontalImg"
        >

        <div v-bind:class="{ 'card__horizontal-content': state.horizontalImg }">

            <h3 
                class="card__header"
                v-bind:class="{ 
                    'card__header--accent': state.headerColor == 'accent',
                    'card__header--inverse': state.headerColor == 'inverse',
                    'card__header--img': state.headerImg && !state.horizontal,
                }"
            >
                <img v-if="state.headerImg" v-bind:srcset="state.headerImg">
                <span>{{ state.headerText }}</span>
            </h3>

            <div class="card__content">
              <slot></slot>
            </div>
            

            <div class="card__actions" v-if="state.actionLinks">
                <a 
                    class="card__action-link" 
                    v-for="(link, index) in state.actionLinks" 
                    :key="index"
                    v-bind:href="link.href"
                    v-bind:class="{ 'card__action-link--inverse': link.inverse }"
                >{{ link.text }}</a>
            </div>

        </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      appState: this.$store.state,
      state: {}
    };
  },
  props: ["props"],
  created() {
    if (this.props) {
      this.state = this.props;
    }
  }
};
</script>

<style lang="scss">
@import "~global-css/vars";

.card {
  display: inline-block;
  background: $body-background-color-light;
  border-radius: 2px;
  @include box_shadow(1);

  &__header {
    position: relative;
    margin: 20px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    &--accent {
      margin: 0;
      padding: 10px 20px;
      @include theme_colors("secondary", "background-color", A200);
    }

    &--inverse {
      margin: 0;
      padding: 10px 20px;
      @include theme_colors("primary", "background-color", 500);
    }

    &--img {
      margin: 0;

      img {
        display: block;
        width: 100%;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      }

      span {
        position: absolute;
        color: #fff;
        text-shadow: 0px 1px 1px $dark-body-background-color-light;
        left: 0;
        bottom: 0;
        padding: 20px;
        max-width: 100%;
      }
    }
  }

  &--horizontal {
    display: flex;

    .card__image {
      flex-shrink: 0;

      img {
        display: block;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
    }
  }

  &__horizontal-content {
    display: flex;
    flex-direction: column;

    .card__content {
      flex-grow: 1;
      margin-top: 0;
    }
  }

  &__content {
    margin: 20px;
  }

  &__actions {
    display: flex;
    border-top: 1px solid $divider-color;

    .dark-theme & {
      border-color: $dark-divider-color;
    }
  }

  .dark-theme & {
    background: $dark-body-background-color-light;
  }

  @media #{$mobile-breakpoint} {
    width: 100%;
  }
}

.card__action-link,
a.card__action-link {
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 15px 20px;
  border: 0;
  @include theme_colors("secondary", "color", A700);

  .dark-theme & {
    @include theme_colors("secondary", "color", A100);
  }

  &:hover {
    background: $body-background-highlight-color;

    .dark-theme & {
      background: $dark-body-background-highlight-color;
    }
  }

  &--inverse {
    @include theme_colors("primary", "color", A700);

    .dark-theme & {
      @include theme_colors("primary", "color", A100);
    }
  }

  &:first-child {
    border-bottom-left-radius: 2px;
  }

  &:last-child {
    border-bottom-right-radius: 2px;
  }
}
</style>