<template>
  <footer>
    <div class="footer__main">

      <div class="footer__left">
        <h2 class="type--h3">About</h2>

        <p class="readability-limit">
          PWA Skeleton is a seed repository that can be used as a starting point for building a Single Page Progressive Web App using Vue.js.
        </p>

        <a href="https://gitlab.com/frodesigns-group/pwa-skeleton/pipelines" class="footer__build-badge" target="_blank" rel="noopener"><img alt="build status" src="https://gitlab.com/frodesigns-group/pwa-skeleton/badges/master/build.svg" /></a>
      </div>

      <div class="footer__right">
        <h2 class="type--h3">Project</h2>

        <ul class="footer__link-list">
          <li>
            <a href="https://gitlab.com/frodesigns-group/pwa-skeleton-template" target="_blank" rel="noopener">Source Code</a>
          </li>
          <li>
            <a href="https://gitlab.com/frodesigns-group/pwa-skeleton-template/commits/master" target="_blank" rel="noopener">Changelog</a>
          </li>
          <li>
            <a href="https://gitlab.com/frodesigns-group/pwa-skeleton-template/issues" target="_blank" rel="noopener">Issues</a>
          </li>
          <li>
            <a href="https://gitlab.com/frodesigns-group/pwa-skeleton-template/tags/" target="_blank" rel="noopener">Releases</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="footer__copyright-bar">

      <div class="footer__copyright-inner">
        <div class="footer__left">
          &copy; {{ currentYear }} <a href="https://frodesigns.com" target="_blank" rel="noopener">Fro Designs</a>
        </div>

        <div class="footer__right">
          <a href="https://gitlab.com/frodesigns-group/pwa-skeleton/blob/master/LICENSE.md" class="" target="_blank" rel="noopener">MIT License</a>
        </div>
      </div>

    </div>

  </footer>
</template>

<script>
export default {
  data() {
    return {
      currentYear: new Date().getFullYear()
    };
  }
};
</script>

<style lang="scss">
@import "~global-css/vars";

footer {
  font-size: 1.4rem;
  transition: 0.3s all ease-out;
  @include theme_colors("primary", "background-color", 500);

  a {
    @include link-on-bg-color("primary", 500);

    .dark-theme & {
      @include link-on-bg-color("primary", 500);
    }
  }
}

.footer__main {
  display: flex;
  padding: 10px;
  max-width: calc(#{$wrapper-max-width} + 40px);
  margin: 0 auto;

  .grid__item {
    padding: 10px;
  }
}

.footer__copyright-bar {
  padding: 10px;

  @include theme_colors("primary", "background-color", 700);

  a {
    @include link-on-bg-color("primary", 700);

    .dark-theme & {
      @include link-on-bg-color("primary", 700);
    }
  }
}

.footer__copyright-inner {
  display: flex;
  max-width: calc(#{$wrapper-max-width} + 20px);
  margin: 0 auto;
}

.footer__left {
  padding: 0 10px;
  flex: 0 0 col-width(8);
}

.footer__right {
  padding: 0 10px;
  flex: 0 0 col-width(4);
}

.footer__link-list {
  margin-top: 15px;
}

.footer__build-badge {
  border: 0;
  display: inline-block;
  height: 20px;

  img {
    display: block;
  }
}
</style>
