<template>
  <nav>
    <div class="nav__inner">
      <router-link to="/" exact><i class="material-icons">home</i> Home</router-link>
      <router-link to="/typography"><i class="material-icons">text_fields</i> Typography</router-link>
      <router-link to="/forms"><i class="material-icons">format_color_text</i> Forms</router-link>
      <router-link to="/components"><i class="material-icons">dvr</i> Components</router-link>
      <div class="nav__subnav">
        <router-link to="#cards" class="nav__subnav-item"><i class="material-icons">view_agenda</i> Cards</router-link>
        <router-link to="#badges" class="nav__subnav-item"><i class="material-icons">info_outline</i> Badges</router-link>
      </div>

      <hr>

      <div class="settings">

        <v-color-picker :which="'primary'"></v-color-picker>

        <v-color-picker :which="'secondary'"></v-color-picker>

        <label>
          <input type="checkbox" name="dark-theme" value="dark-theme" v-on:click="toggleTheme" v-bind:checked="appState.darkTheme">
          <span class="label__text">Dark Theme</span>
        </label>

      </div>

    </div>
  </nav>
</template>

<script>
import vColorPicker from "components/colorPicker.vue";

export default {
  data() {
    return {
      appState: this.$store.state
    };
  },
  components: {
    vColorPicker
  },
  mounted: function() {
    var self = this;

    var appEl = document.getElementById("app");
    var navEl = document.querySelectorAll("nav")[0];
    var navWidth = navEl.offsetWidth;
    var base, start, end;
    var minimumDistance = 10;
    var threshold = navWidth * 0.25;

    navEl.addEventListener(
      "touchstart",
      function(e) {
        start = e.pageX || e.targetTouches[0].pageX;
        end = start;

        if (appEl.classList.contains("nav--open")) {
          base = 0;
        } else {
          base = -100;
        }
      },
      { passive: true }
    );

    navEl.addEventListener(
      "touchmove",
      function(e) {
        end = e.pageX || e.targetTouches[0].pageX;

        var move = end - start;
        var moveAbs = Math.abs(move);

        if (Math.abs(move) > minimumDistance) {
          e.preventDefault();

          var movePercent = base + move / navWidth * 100;
          if (movePercent < -100) {
            movePercent = -100;
          } else if (movePercent > 0) {
            movePercent = 0;
          }

          navEl.style.transitionDuration = "0s";
          navEl.style.transform = "translate3d(" + movePercent + "%, 0, 0)";
        }
      },
      { passive: true }
    );

    navEl.addEventListener("touchend", function(e) {
      navEl.style.transitionDuration = "";
      navEl.style.transform = "";

      if (end > start + threshold && !appEl.classList.contains("nav--open")) {
        // right
        self.$store.commit("toggleNav");
        self.$store.commit("showHeader");
      } else if (
        end < start - threshold &&
        appEl.classList.contains("nav--open")
      ) {
        // left
        self.$store.commit("toggleNav");
      }
    });
  },
  methods: {
    toggleTheme: function(e) {
      this.$store.commit("toggleTheme");
      this.$cookie.set("darkTheme", this.appState.darkTheme, 365);
    }
  }
};
</script>

<style lang="scss">
@import "~global-css/vars";

nav {
  position: fixed;
  width: $fixed-nav-width;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 21;
  transition: transform 0.3s ease-out;
  transform: translate3d(calc(-100% + 20px), 0, 0);

  a {
    display: block;
    padding: 12px;
    border: 0;

    i {
      vertical-align: middle;
      margin-top: -3px;
      margin-right: 5px;
    }

    &:hover,
    &.router-link-active {
      background: $body-background-highlight-color;
      border: 0;

      .dark-theme & {
        background: $dark-body-background-highlight-color;
      }
    }
  }

  .settings label {
    margin: 12px;
    margin-left: 15px;

    .label__text:before {
      margin-right: 13px;
    }
  }
}

.nav__inner {
  background: $body-background-color-light;
  @include box_shadow(2);
  height: 100%;
  margin-right: 20px;
  overflow-y: auto;
  padding-top: $fixed-header-offset;

  .dark-theme & {
    background: $dark-body-background-color-light;
  }
}

.nav--open nav {
  transform: translate3d(0, 0, 0);
}

.nav__subnav {
  display: none;
}

.router-link-active + .nav__subnav {
  display: block;
}

.nav__subnav-item {
  font-size: 1.4rem;
  padding: 10px 0 8px 45px;
}
</style>
