@import "node_modules/google-material-color/dist/palette.scss";
$colors: Red, Pink, Purple, Deep Purple, Indigo, Blue, Light Blue, Cyan, Teal,
  Green, Light Green, Lime, Yellow, Amber, Orange, Deep Orange;
$colorChoices: "red", "pink", "purple", "deep-purple", "indigo", "blue",
  "light-blue", "cyan", "teal", "green", "light-green", "lime", "yellow",
  "amber", "orange", "deep-orange";

// colors
$primary-text-color: #212121;
$secondary-text-color: #757575;

$body-background-color: #fafafa;
$body-background-color-light: #fff;
$body-background-highlight-color: #eee;
$divider-color: #bdbdbd;

// dark theme
$dark-primary-text-color: #ddd;

$dark-body-background-color: #000;
$dark-body-background-color-light: #303030;
$dark-body-background-highlight-color: #202020;
$dark-divider-color: #666;

// typography
$base-font-px: 16;
$type-scale: 1.333;
$body-font-size: $base-font-px / 10 + rem;
$body-line-height: 150%;
$body-font-family: "Roboto", Arial, Helvetica, sans-serif;

$heading-font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
$heading-line-height: 115%;

// content max width
$wrapper-max-width: 1400px;

// layout adjustments for fixed position header/nav
$fixed-header-offset: 52px;
$fixed-nav-width: 260px;
$fixed-nav-main-offset: calc(#{$fixed-nav-width} - 20px);

// media query breakpoints
$mobile-breakpoint: "screen and (max-width: 767px)";
$tablet-breakpoint: "screen and (max-width: 1024px)";

// shadows
@mixin box_shadow ($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

// theme colors
@mixin theme-colors ($which, $property, $shade) {
  @each $color in $colors {
    $colorString: color-string($color);

    .#{$which}--#{$colorString} & {
      @if $property == "background-color" {
        #{$property}: palette($color, $shade);
        color: paletteText($color, $shade);
      } @else if $property == "input-shadow" {
        border-color: palette($color, $shade);
        box-shadow: 0 1px 0 0 palette($color, $shade);
      } @else {
        #{$property}: palette($color, $shade);
      }
    }
  }
}

@mixin link-on-bg-color ($which, $shade) {
  @each $color in $colors {
    $colorString: color-string($color);

    .#{$which}--#{$colorString} & {
      color: paletteText($color, $shade);
      &:hover {
        border-color: paletteText($color, $shade);
      }
    }
  }
}

// string manipulation functions
@function color-string($color) {
  @return str-replace(to-lower-case(to-string($color)), " ", "-");
}

@function to-string($value) {
  @return inspect($value);
}

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// math functions
@function col-width($cols) {
  @return ($cols / 12 * 100%);
}
