<template>
  <div id="app" v-bind:class="[
    'primary--' + appState.primaryColor,
    'secondary--' + appState.secondaryColor,
    {
      'nav--open': appState.navOpen,
      'dark-theme': appState.darkTheme
    }
  ]">

    <div class="container" v-bind:class="{ 'dark-theme': appState.darkTheme }">

      <v-header></v-header>

      <v-main-nav></v-main-nav>

      <main>
        <transition name="fade" mode="out-in">
          <router-view></router-view>
        </transition>
      </main>

      <v-footer></v-footer>
    </div>

  </div>
</template>

<script>
import config from "./config.js";
import vMainNav from "components/mainNav.vue";
import vHeader from "components/header.vue";
import vFooter from "components/footer.vue";

export default {
  name: "app",
  components: {
    vMainNav,
    vHeader,
    vFooter
  },
  data() {
    return {
      appState: this.$store.state
    };
  },
  created: function() {
    if (window.innerWidth > 1024) {
      this.$store.state.navOpen = true;
    }

    // apply cookies
    this.$store.state.darkTheme = this.$cookie.get("darkTheme") == "true";
    this.$store.state.primaryColor = this.$cookie.get("primaryColor")
      ? this.$cookie.get("primaryColor")
      : config.primaryColor;
    this.$store.state.secondaryColor = this.$cookie.get("secondaryColor")
      ? this.$cookie.get("secondaryColor")
      : config.secondaryColor;
  }
};
</script>

<style lang="scss">
@import "~global-css/vars";

#app {
  min-height: calc(100vh - #{$fixed-header-offset});
  transition: 0.3s padding-left ease-out;
  color: $primary-text-color;
  background: $body-background-color;
  padding-top: $fixed-header-offset;

  &.dark-theme {
    color: $dark-primary-text-color;
    background: $dark-body-background-color;
  }

  @media #{$tablet-breakpoint} {
    &:after {
      content: "";
      background: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: all 0.3s ease-in;
      transform: translate3d(0, 0, 0);
      opacity: 0;
      z-index: -1;
    }
  }

  &.nav--open {
    padding-left: $fixed-nav-main-offset;

    @media #{$tablet-breakpoint} {
      padding-left: 0;
    }

    &:after {
      opacity: 1;
      z-index: 20;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$fixed-header-offset});
}

main {
  padding: 20px;
  transition: 0.3s all ease-out;
  flex: 1 0 auto;

  section {
    max-width: $wrapper-max-width;
    margin: 0 auto;
  }
}

/* Router View Transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
