<template>
  <section>
    <h1>Components</h1>

    <br>

    <h2 id="cards" class="heading--underline">Cards</h2>

    <p>
      Cards are used for displaying small snippets of information.
    </p>

    <div class="sample-cards">

      <v-card :props="{ headerText: 'Card Header' }">
        <p>This is a simple card.</p>
      </v-card>

      <v-card :props="{
        headerText: 'Colored Header',
        headerColor: 'accent'
      }">
        <p>You can give a colored header to a card.</p>
        <p>The default BG color is the Accent color.</p>
      </v-card>
      
      <v-card :props="{
        headerText: 'Inverse Colored Header',
        headerColor: 'inverse'
      }">
        <p>This card has an inverse header color, material primary.</p>
      </v-card>

      <v-card :props="{
        headerText: 'Card w/ Actions',
        actionLinks: [
          {
            href: '#',
            text: 'Action Link'
          },
          {
            href: '#',
            text: 'Inverse Link',
            inverse: true
          }
        ]
      }">
        <p>This card has action links.</p>
      </v-card>

      <v-card :props="{
        headerText: 'Image Header',
        headerImg: `https://unsplash.it/325/155?image=950 1x,
                    https://unsplash.it/650/310?image=950 2x,
                    https://unsplash.it/975/465?image=950 3x`
      }">
        <p>Card headers can have a BG image.</p>
      </v-card>

      <v-card :props="{
        headerText: 'Horizontal',
        horizontalImg: `https://unsplash.it/100/219?image=902 1x,
                        https://unsplash.it/200/438?image=902 2x,
                        https://unsplash.it/300/657?image=902 3x`,
        actionLinks: [
          {
            href: '#',
            text: 'Action Link'
          }
        ]
      }">
        This card has an image on the left-hand side.
      </v-card>

    </div>

    <br>

    <h2 id="badges" class="heading--underline">Badges</h2>

    <p>
      Badges are used for displaying item/notification counts.
    </p>

    <div class="sample-badges">
      <p>
        <span class="sample-badges__label">Basic Badge</span>
        <v-badge>1</v-badge>
      </p>

      <p>
        <span class="sample-badges__label">Accent Badge</span>
        <v-badge :props="{ color: 'accent' }">4 unread</v-badge>
      </p>

      <p>
        <span class="sample-badges__label">Inverse Badge</span>
        <v-badge :props="{ color: 'inverse' }">2 new</v-badge>
      </p>
    </div>

  </section>
</template>

<style lang="scss">
@import "~global-css/vars";

.sample-cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -10px;

  .card {
    margin: 10px;
    max-width: 325px;

    @media #{$mobile-breakpoint} {
      max-width: 100%;
    }
  }
}

.sample-badges {
  &__label {
    display: inline-block;
    width: 120px;
  }
}
</style>
