<template>
  <section>

    <h1>Forms</h1>

    <div class="forms__sample-cards">

      <v-card :props="{ headerText: 'Buttons' }">
        <button class="btn">Default Button</button>

        <br><br>

        <button class="btn btn--inverse">Inverse Button</button>

        <br><br>

        <button class="btn btn--large">Large Button</button>

        <br><br>

        <h3 class="type--h4">Floating Action Buttons</h3>
        <br>
        <button class="btn btn--fab">
          <i class="material-icons">mode_edit</i>
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn--fab btn--inverse">
          <i class="material-icons">mode_edit</i>
        </button>
      </v-card>

      <v-card :props="{ headerText: 'Text Inputs' }">
        <label>
          <input type="text">
          <span class="label__text">Input Label</span>
        </label>

        <br><br>

        <label>
          <textarea></textarea>
          <span class="label__text">Textarea Label</span>
        </label>
      </v-card>

      <v-card :props="{ headerText: 'Dropdowns' }">
        <label>
          <select required>
            <option value="">Placeholder</option>
            <option value="1">Option 2</option>
            <option value="2">Option 3</option>
          </select>
          <span class="label__text">Select Label</span>
        </label>
      </v-card>

      <v-card :props="{ headerText: 'Toggles' }">
        <h3 class="type--h4">Checkboxes</h3>

        <label>
          <input type="checkbox" name="checkbox-1" value="" checked>
          <span class="label__text">Checkbox 1 Label</span>
        </label>
        <br>
        <label>
          <input type="checkbox" name="checkbox-2" value="">
          <span class="label__text">Checkbox 2 Label</span>
        </label>

        <br><br>

        <h3 class="type--h4">Radio Buttons</h3>
        <label>
          <input type="radio" name="radio-group" value="" checked>
          <span class="label__text">Radio 1 Label</span>
        </label>
        <br>
        <label>
          <input type="radio" name="radio-group" value="">
          <span class="label__text">Radio 2 Label</span>
        </label>
      </v-card>

    </div>

  </section>
</template>

<style lang="scss">
@import "~global-css/vars";

.forms__sample-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  .card {
    margin: 10px;
  }
}
</style>
