<template>
  <section>
    <h1>PWA Skeleton</h1>

    <br>

    <h2 class="heading--underline">Welcome!</h2>

    <p>
      This is the demo of <a href="https://gitlab.com/frodesigns-group/pwa-skeleton-template" target="_blank" rel="noopener">PWA Skeleton</a>, a Single Page Progressive Web App seed repository which serves as a foundation for starting a new project.
    </p>

    <p>
      Included from the start is a full Vue.js Webpack setup using <a href="https://vuejs.org/v2/guide/" target="black" rel="noopener">Vue</a>, <a href="http://router.vuejs.org/en/" target="black" rel="noopener">Vue Router</a>, <a href="https://vuex.vuejs.org/en/" target="black" rel="noopener">Vuex</a> (state management), some basic css styles, and a handful of <a href="https://material.io/guidelines/" target="black" rel="noopener">Material Design</a> UI components.
    </p>

    <p>
      Also included is a robust theme picker that lets any user choose between Light/Dark mode and any combination of Primary/Secondary <a href="https://material.io/guidelines/style/color.html#color-color-tool" target="black" rel="noopener">Material Design palette colors</a>. The <a href="https://fonts.google.com/specimen/Roboto" target="black" rel="noopener">Roboto</a> font is the default for body copy, with <a href="https://fonts.google.com/specimen/Roboto+Condensed" target="black" rel="noopener">Roboto Condensed</a> used for headings, and the <a href="https://material.io/icons/" target="black" rel="noopener">Material Icons</a> font for all of the iconography.
    </p>
  </section>
</template>

<style lang="scss">
@import "~global-css/vars";
</style>
