<template>
  <section class="typography">
    <h1>Typography</h1>

    <p>
      Base font size is 16px, and headings use a Perfect Fourth (1.333) scale.
    </p>

    <h2 class="type-sample type--h1">Heading 1</h2>

    <h2 class="type-sample">Heading 2</h2>

    <h3 class="type-sample">Heading 3</h3>

    <h4 class="type-sample">Heading 4</h4>

    <p>
      Default body text
    </p>

    <p>
      <strong>Bold text</strong>
    </p>

    <p>
      <em>Italic text</em>
    </p>

    <p>
      <small>Small text (75%, relative)</small>
    </p>
  </section>
</template>

<style lang="scss">
@import '~global-css/vars';

.type-sample {
  padding: 10px 0;
}
</style>
